<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>
        <div class="title">
            <h2>Pokedex</h2>
            <form action="/Pokedex/new" method="">
                <input type="submit" value="Add New Pokemon" />
            </form>
        </div>
        <div class="selection">
        <% for(let i=0; i < data.length; i++) { %>
                <div class="subIcon">
                    <a href="/Pokedex/<%=i; %>/">
                        <h5>
                            <%=data[i].name%>
                        </h5>
                        <img src="<%=data[i].img%>" alt="<%=data[i].name%>">
                    </a>
                    <!--  ADD DELETE FORM HERE-->
                    <form action="/Pokedex/<%=i%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE" />
                    </form>
                    </a>
                </div>
                <% } %>
            </div>
            <%- include('./partials/footer.ejs')%>
    </body>

</html>